
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Urbanist",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    box-sizing: border-box;
}


    /* CSS for Navbar */
button {
    outline: none;
    border: none;
    background: none;
    height: 2rem;
    width: 4rem;
    color: white;
    font-size: 9px;
}


.navbar {
    position: sticky;
    top: 1rem;
    margin: 1.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: black;
    border-radius: 1.4rem;

}

.home {
    background-color: #00C4F0;
    border-radius: 1rem;
}

.aboutMe {
    text-align: center;
}

.aboutMe:hover {
    background-color: rgba(192, 192, 192, 0.376);
    border-radius: 1em;
}
/* 
.aboutMe:active {
    background-color: #00C4F0;
    border-radius: 1rem;
} */

.contact:hover {
    background-color: rgba(192, 192, 192, 0.376);
    border-radius: 1em;
}

.projects:hover {
    background-color: rgba(192, 192, 192, 0.376);
    border-radius: 1em;
}



.resume:hover {
    background-color: rgba(192, 192, 192, 0.376);
    border-radius: 1em;
}


.hobbys:hover {
    background-color: rgba(192, 192, 192, 0.376);
    border-radius: 1em;
}

.logo {
display: flex;    
justify-content: center;
align-items: center;
color: white;
gap: 5px;
font-weight: 600;
border: 1px solid #00C4F0 ;
height: 2.5rem;
width: 10rem;
border-radius: 1.5rem;
padding: 0.5rem 0.5rem;
}



.hidden {
    display: none;
}

.logo  img {
    max-height: 1.5rem;

}
/* 
.animated-element {
    opacity: 0;
  } */
  
  @keyframes fadeIn {
      from {
          opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
  .animate {
    animation: fadeIn 0.5s ease-in;
}


/* SIDE BAR */
.sideBar {
    position: sticky;
    top: 1rem;
    right: 0;
    height: 50vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px  rgba(0, 0,0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.sideBar button {
    color: black;
    /* width: 100%; */
}

.menu-btn {
    display: none;
}

@media (max-width: 720px) {
    .hideOnMobile {
        display: none;
    }

    .sideBar { 
        margin-top: 1rem;
    }
    .menu-btn {
        display: block;
    }

    .navbar {
        position: sticky;
        top: 0.6rem;
        margin: 1rem;
        height: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        background-color: black;
        border-radius: 1rem;
    
    }
 
    .logo {
        display: flex;    
        justify-content: center;
        align-items: center;
        color: white;
        gap: 5px;
        font-weight: 600;
        border: 1px solid #00C4F0 ;
        height: 1.5rem;
        width: 6rem;
        border-radius: 1rem;
        padding: 0.5rem 0.5rem;
        font-size: 0.6rem;
        }
        .logo  img {
        height: 0.8rem;
        
        }
        
}
/* 
@media (min-width: 450px) {
    .sideBar {
        width: 100%;
        z-index: 1000;
    }
} */

  /* CSS for HERO SECTION */
 
  /* INTRO HEADINGS ELLIPSE AND PROFILE IMG */
  .name-intro {
      width: 100%;
      
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s ease-in-out, height 0.5s ease-in-out;
      transform: translateY(0);
    }
    .name-intro img {
        height: 1rem;
        position: relative;
        top: 0.2rem;
        left: 4rem;
    }
    
    .hello {
        margin-top: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;
        border: 1px solid black;
        font-weight: 900;
        transition: height 0.5s ease-in-out, width 0.5s ease-in-out, font-size 0.5s ease-in-out, border-radius 0.5s ease-in-out ;
        height: 1.5rem;
        width:  3rem;
        font-size: 8px;
        border-radius: 1rem;
        
        
    }
    
    .intro {
        margin-top: 10px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        transition: opacity 0.7s ease-out, transform 0.7s ease-in-out;
        opacity: 1;
        transform: translateY(0);
    }
    
.habib {
    margin-left: 10px;
    color: #00C4F0;
}

.genAi {
    text-align: center;
    font-size: 1.8rem;
    transition: opacity 0.5s ease-out, transform 0.5s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}
.genAi img {
    height: 70px;
    position: relative;
    top: -1.5rem;
    left: -15.5rem;
}

.ellipse {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ellipseImg {
    height: 11rem;
    width: 25rem;
    position: absolute;
    bottom: 1rem;
    left: 27rem;
}
.profileImg {
    height: 21rem;
    z-index: 5;
    position: absolute; 
    bottom: 1rem;
    left: 29.5rem;
    transition: opacity 0.5s ease-out;
    opacity: 1;
}



/* portfolio or Hire me button styling */

.portfolioOrHireMe {
    z-index: 20;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    left: 0rem;
    
}
.portfolioOrHireMe button {
    color: black;
    font-size: 1rem;
    
}

.buttons {
    position: absolute;
    border: 1px solid white;
    border-radius: 2rem;
    height: 2.5rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.portfolio {
    transition: background-color 0.5s ease-in;
    background-color: #00C4F0;
    width: 6.5rem;
    font-weight: 600;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio img {
    
    height: 1.5rem;
    transform: rotate(-35deg);
}


.hireMeTransformation {
    transition: border 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;
    border: 3px solid #0c9bbb;
    box-shadow: 0 0 10px #fff679;
    
    width: 6.5rem;
    font-weight: 600;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.backgroundNone {
    background: none;
}

.arrowRemove {
    display: none;
}




/* Senior STD */
.senior {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
}
.seniorSTD1 {
    margin-left: 4rem;
}

.senior img {
    height: 1.5rem;
    margin-bottom: 10px;
    max-width: 100%;
}

/* Intro and Profile Hiding Animation */

/* @keyframes slideAndVanish {
    0%{
        transform: translateY(0);
        opacity: 1;
        }
        
        100% {
        transform: translateY(100px);
        opacity: 0;
        }
        
        } */
        
        
        .slideAndHide {
            opacity: 0;
            transform: translateY(150px);
        }
        
        .ProfileImgOpacity {
    /* transition: opacity 0.5s ease-out; */
    opacity: 0;
}


.name-intro-animation {
    transform: translateY(150px);
}
.hello-animation {
    height: 5rem;
    width:  5rem;
    font-size: 1.5rem;
    border-radius: 50%;

}

.art_appearance {
    height: 24rem;
    z-index: 10;
    position: fixed; 
    bottom: 1px;
    transition: opacity 0.3s ease-in;
    opacity: 0;
}

.art_departure {
   opacity: 1;
}
.senior-Animation {
 transform: translateY(-150px);   
}
/* 
@media (max-width:480px){
    .art_appearance {
      display: none;
    }
    .art_departure {
            opacity: 0;
     }
     .senior-Animation {
      transform: none;   
     }
     
} */

/* 
/* Media Queries for Hero section */
@media only screen and (min-width: 390px) and (max-width: 500px) {
    .navbar {
        top: .5rem;
        left: 4.2rem;
        justify-content: space-evenly;
        width: 18rem;
    }
    .hello {
        margin-top: 1rem;
        height: 1rem;
        width: 3rem;
        font-size: 10px;
        border-radius: 1rem;
    }
    .name-intro img {
        height: 0.8rem;
        position: relative;
        top: 0rem;
        left: 3.5rem;
    }
    .intro {
        font-size: 1rem;
    }
    .genAi {
        font-size: 1rem;
    }
    .genAi img {
        height: 2rem;
        top: -1rem;
        left: -8.5rem;
    }
    .ellipseImg {
        height: 6rem;
        width: 12rem;
        position: absolute;
        left: 7.2rem;
        bottom: 24.4rem;
    }
    .profileImg {
        height: 15rem;
        position: absolute;
        bottom: 24.4rem;
        left: 6.4rem;
    }
    .portfolioOrHireMe {
        height: 3rem;
        width: 100%;
        position: absolute;
        bottom: 24.4rem;
        left: 0.6rem;
    }
    .buttons {
        border-radius: 1rem;
        width: 10rem;
        height: 2rem;
    }
    #portfolioBTN {
        font-size: 1rem;
    }
    .portfolio {
        height: 1.5rem;
        width: 5rem;
        font-weight: 600;
        border-radius: 1rem;
    }
    .portfolio img {
        height: 0.9rem;
        transform: rotate(-35deg);
    }
    .hireMe {
        font-size: 1rem;
        width: 4rem;
    }
    .hireMe img {
        height: 0.9rem;
        transform: rotate(-35deg);
    }
    .hireMeTransformation {
        width: 5rem;
        font-weight: 600;
        border-radius: 1rem;
    }
    .senior {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: transform 0.5s ease-in-out;
        transform: translateY(0);
        gap: 15rem;
    }
    .senior h2 {
        font-size: 1rem;
        width: 100%;
    }
    .seniorSTD1 {
        margin-left: 2rem;
    }
    .senior img {
        height: 1rem;
        margin-bottom: 0px;
        max-width: 100%;
    }
}

/* PROJECTS SECTION STARTS FROM HERE */
#project {
    color: white;
    margin-top: 8.5rem;
    padding: 2rem;
    border-bottom: 1px solid rgb(106, 105, 105);
}
.portfoloioText {
    color: #00C4F0;
}


@media only screen and (min-width: 390px) and (max-width: 500px){
    #project {
        margin-left: 5rem;
        padding: 0rem;
        border-bottom: 1px solid rgb(106, 105, 105);
    } 

    #project h1 {
        font-size: 1rem; 
    }
}

.cardParent{
    max-width: 100%;
    background: black;
}

.projectsCards {
    width: 30%;
    
}

.card1 {
    margin: 2rem;
    margin-left: 35%;
    background-image: url(/Asset/projectCardsImgs/pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    padding-top: 11rem;
    color: white;
    /* background-color: ; */
    height: 25rem;
    position: sticky;
    top: 8rem;
    overflow: hidden;
}

.card2 {
    margin: 2rem;
    margin-left: 35%;
    background-image: url(/Asset/projectCardsImgs/currency-converter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    padding-top: 11rem;
    color: white;
    /* background-color: ; */
    height: 25rem;
    position: sticky;
    top: 8rem;
    overflow: hidden;
}
.card3 {
    margin: 2rem;
    margin-left: 35%;
    background-image: url(/Asset/projectCardsImgs/typing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    padding-top: 11rem;
    color: white;
    /* background-color: ; */
    height: 25rem;
    position: sticky;
    top: 8rem;
    overflow: hidden;
}
.card4 {
    margin: 2rem;
    margin-left: 35%;
    background-image: url(/Asset/projectCardsImgs/w2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    padding-top: 11rem;
    color: white;
    /* background-color: ; */
    height: 25rem;
    position: sticky;
    top: 8rem;
    overflow: hidden;
}

.card5 {
    margin: 2rem;
    margin-left: 35%;
    background-image: url(/Asset/projectCardsImgs/todo-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    padding-top: 11rem;
    color: white;
    /* background-color: ; */
    height: 25rem;
    position: sticky;
    top: 8rem;
    overflow: hidden;
}
.card6 {
    margin: 2rem;
    margin-left: 35%;
    background-image: url(/Asset/projectCardsImgs/atm.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    padding-top: 11rem;
    color: white;
    /* background-color: ; */
    height: 25rem;
    position: sticky;
    top: 8rem;
    overflow: hidden;
}
.card7 {
    margin: 2rem;
    margin-left: 35%;
    background-image: url(/Asset/projectCardsImgs/guess-the-number.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    padding-top: 11rem;
    color: white;
    /* background-color: ; */
    height: 25rem;
    position: sticky;
    top: 8rem;
    overflow: hidden;
}

@media only screen and (min-width: 390px) and (max-width: 500px){
    .projectsCards {
        width: 60%;
    }

    .card1, .card2, .card3, .card4, .card5,  .card6, .card7 {
        margin: 1rem;
        margin-left: 28%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
        /* padding-top: 11rem; */
        color: white;
        height: 15rem;
        position: sticky;
        top: 8rem;
        overflow: hidden;
    }
}
.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 14em;
    border-radius: 1rem;
    /* --padding : 2rem */
    padding: 2em;
    background: linear-gradient(hsl(0, 0%, 0%, 0),hsla(0, 0%, 0%, 0.637) 20%,hsla(176, 92%, 72%, 0.637));
    /* background: #000; */
    transform: translateY(75%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out ;
}


.cardBTN:hover,:focus {
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: 0 0 15px 5px rgba(0, 196, 240, 0.6);
}
.cardTitle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #00C4F0;
    
    transition: transform 0.3s ease-in-out;
}
.cardBTN {
    margin-top: 1rem;
    height: 2rem;
    width: 5rem;
    font-size: 15px;
    font-weight: 700;
    background-color: #00C4F0;
    color: black;
    background-size: cover;
    border-radius: 1rem;
}


.cardPara {
    margin-top: 1rem;
    font-weight:600;
    min-height: 200px;
}
.npx {
    margin-top: 2rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}

.cardTitle {
    width: max-content;
    position: relative;

}


@media (hover) {
    .card1:hover .cardContent, .card1:focus-within .cardContent {
        opacity: 1;
        transform: translateY(0);
    }
    .card2:hover .cardContent, .card1:focus-within .cardContent{
        opacity: 1;
        transform: translateY(0);
    }
    .card3:hover .cardContent, .card1:focus-within .cardContent {
        opacity: 1;
        transform: translateY(0);
    }
    .card4:hover .cardContent, .card1:focus-within .cardContent{
        opacity: 1;
        transform: translateY(0);
    }
    .card5:hover .cardContent, .card1:focus-within .cardContent {
        opacity: 1;
        transform: translateY(0);
    }
    .card6:hover .cardContent, .card1:focus-within .cardContent {
        opacity: 1;
        transform: translateY(0);
    }
    .card7:hover .cardContent, .card1:focus-within .cardContent{
        opacity: 1;
        transform: translateY(0);
    }
    .cardTitle::after {
        transform: scaleX(0);
    }
    
    .cardTitle:hover.cardTitle::after {
        transform: scaleX(1);
    }
}
.aboutMeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.aboutMeSection p {
    position: relative;
    padding: 20px;
    text-align: start;
    font-family: "Poppins", 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    z-index: 2;
    font-weight: 500;
  
}



.aboutMeHeading {
    position: relative;
    width: max-content;
    margin: 30px 0; 
    z-index: 2;
}

.aboutMeHeading::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 3rem;
background-color: #00C4F0;
z-index: -1;
transform: scaleX(0);
box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
transition: transform 0.5s ease-in-out;

}

.aboutMeHeading:hover.aboutMeHeading::before {
    transform: scaleX(1);
    box-shadow: 0 0 15px 5px rgba(0, 240, 204, 0.6);
    border-radius: 10px;
}



.aboutIMG {
    width: 400px;
    height: 400px;
    background-color: #00C4F0;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-image: url(/Asset/Your_pics/profile2-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    
}

 .parentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
    background-color: #23242a;
    box-sizing: border-box;
 }

 .box {
    position: relative;
    width: 380px;
    height: 700px;
    background-color: #1c1c1c;
    overflow: hidden;
 }

 .box::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 700px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
 }

 .box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 700px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
 }

 .borderLine {
    position: absolute;
    top: 0;
    inset: 0;
 }
 .borderLine::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 700px;
    background: linear-gradient(0deg, transparent, transparent, #230de6,#230de6,#230de6);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
 }
 .borderLine::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 700px;
    background: linear-gradient(0deg, transparent, transparent, #230de6,#230de6,#230de6);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
 }

 @keyframes animate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
 }

 .box form {
    position: absolute;
    inset: 4px;
    padding: 50px 20px;
    border-radius: 8px;
    background-color: #222;
    z-index: 2;
    display: flex;
    flex-direction: column;
 }


 .box form h2 {
    color: white;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.1em;
 }

 .box form .inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
 }
 .box form .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
 }


 .box form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    color: #8f8f8f;
    font-weight: 600;
    pointer-events: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
 }

 
 .box form .inputBox input:valid ~ span, 
 .box form .inputBox input:focus ~ span  {
    color: white;
    font-size: 0.75em;
    transform: translateY(-35px);
 }
 .inputBox i {
     display:block;
     position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    pointer-events: none;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ i, 
 .box form .inputBox input:focus ~ i {
    height: 50px;
    transform: translateY(-35px);
 }



 .box form .textArea {
    position: relative;
    width: 300px;
    margin-top: 35px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .box form textarea {
    position: relative;
    width: 100%;
    left: 1rem;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    border-radius: 1rem;
    outline: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
 }
 .box form .textArea span {
    position: absolute;
    left: 0;
    padding: 300px 10px 10px ;
    color: #8f8f8f;
    font-weight: 600;
    pointer-events: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    margin-bottom: 5rem;
 }

 
 .box form .textArea textarea:focus ~ span  {
    display: none;
 }

 .textArea i {
    display:block;
    position: absolute;
   left: 0;
   bottom: -1em;
   width: 100%;
   height: 4px;
   background-color: white;
   pointer-events: none;
   border-radius: 4px;
   overflow: hidden;
   transition: 0.5s;
}

.box form .textArea textarea:focus ~ i {
    height: 200px;
    transform: translateY(-35px);
}

.box form input[type="submit"] {
    margin-top: 1rem;
    border: none;
    outline: none;
    padding: 9px 25px;
    background-color: white;
    cursor: pointer;
    font-size: 1em;
    border-radius: 1rem;
    font-weight: 600;
    width: 100px;
}

